extends layout

block content
    h1= title
    p Welcome to our test

    // Wrapper
    #wrapper

        // Trip LIST
        h2 Trip List
        #tripsList
            table
                thead
                    th tripName
                    th Country
                    th Delete?
                tbody
        // /Trip LIST

    // /WRAPPER